<h1>Inventory</h1>

<div id="inventory-wrapper">
  <% @products.each do |product| %>

  <div class="product">
    <h3><a href="/inventory/<%= product.id %>"><%= product.name %></a></h3>
    <p2>Desc: <%= product.description %></p2>
    <p2>Buy Cost: <%= product.buy_cost %></p2>
    <p2>Sell Price: <%= product.sell_price %></p2>
</div>
<% end %>

</div>
