<h1>Products</h1>

<a href='/products/new'>Add Product</a>

<div id="product-wrapper">
  <% @products.each do |product| %>

  <div class="product">
    <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
    <p>Desc: <%= product.description %></p>
    <p>Stock: <%= product.stock %>
    <% if product.stock.to_i < 5 && product.stock.to_i > 0 %>
    -- Low Stock
    <% end %>

    <% if product.stock.to_i == 0 %>
    -- Out of Stock
    <% end %>

    </p>
    <p>Buy Cost: <%= product.buy_cost %></p>
    <p>Sell Price: <%= product.sell_price %></p>
    <p><form method="GET" action="/products/<%= product.id %>/edit">
    <input type="submit" value="Edit"/>
    <p><form method="POST" action="/products/<%= product.id %>/delete">
    <input type="submit" value="Delete"/>

    <hr />
</div>
<% end %>



</div>
