<h2><%= @product.name %></h2>

<p>Name: <%= @product.name %></p>
<p>Desc: <%= @product.description %></p>
<p>Stock: <%= @product.stock %></p>
<p>Buy Cost: <%= @product.buy_cost %></p>
<p>Sell Price: <%= @product.sell_price %></p>
